@font-face {
  font-family: NanumPenScript;
  src: url(assets/NanumPenScript.ttf);
}
/* Containers */
:root {
  --pen-blue: #00366F;
  --toxic-green: #007112;
  --paper: #EFECEA;
  --light-paper: #FBF8F6;
  --dark-paper: #B7B5B3;
  font-family: NanumPenScript;
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
  color: var(--pen-blue);
  background: var(--light-paper);
  accent-color: var(--pen-blue);
}

button {
  outline: none;
}

body {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding-top: 1rem;
  font-size: 4em;
  line-height: 0;
}

h1 > span {
  color: var(--toxic-green);
}

section {
  display: inherit;
  flex-direction: row;
  gap: 1em;
}
/* Dropdown */
.drop {
  display: inherit;
  width: 2em;
  height: 2em;
  padding-bottom: 1em;
  align-items: center;
  justify-content: center;
}

.drop-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background: none;
}
.drop-btn:hover {
  background: var(--paper);
}

.drop-btn > img {
  width: 1em;
  height: 1em;
}

.drop > span {
  width: 0;
  height: 0;
  visibility: hidden;
}
/* Game Rules */
.drop:hover #game-rules {
  visibility: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 9em;
  width: 9em;
  height: min-content;
  padding: 1rem 12px;
  border-radius: 1em;
  font-size: 17px;
  font-weight: bold;
  line-height: 22px;
  box-shadow: 0 0 1px black;
  background: var(--paper);
  opacity: 98%;
  z-index: 1;
}

#game-rules > span {
  color: var(--toxic-green);
}
/* Settings */
.drop:hover #settings {
  visibility: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 9em;
  width: min-content;
  height: min-content;
  padding: 1rem 12px;
  border-radius: 1em;
  font-size: 17px;
  font-weight: bold;
  line-height: 22px;
  box-shadow: 0 0 1px black;
  background: var(--paper);
  opacity: 98%;
  z-index: 1;
}

#settings > span {
  text-align: left;
  font-size: 20px;
  line-height: 28px;
  margin-right: 1em;
  margin-bottom: 1rem;
}
/* Switch */
#switch {
  font-size: 24px;
  cursor: default;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 1em;
  gap: 6px;
}

#toggle {
  position: absolute;
  visibility: hidden;
}

#slider {
  width: 2em;
  height: 24px;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  background: var(--dark-paper);
}
#slider::after {
  content: "";
  top: 4px;
  left: 4px;
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 1rem;
  background: var(--light-paper);
  transition: left .2s, transform .2s;
}
#slider:hover::after {
  background: var(--pen-blue);
}
#toggle:checked + #slider::after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

#switch > p {
  color: var(--toxic-green);
}
/* Score */
h2 {
  font-size: 2em;
  margin-top: 1rem;
  line-height: 0;
}

h3 {
  font-size: 26px;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1em;
  width: 100%;
}

figure {
  font-size: 21px;
  font-weight: bold;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: fit-content;
  padding: 6px;
  border-radius: 1em;
  gap: 12px;
}

.score-img {
  width: 5rem;
  height: 5rem;
}
/* Gesture Menu */
#gestures {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.5em;
  flex-wrap: wrap;
  gap: 12px;
}

.gesture {
  font-family: NanumPenScript;
  font-size: 24px;
  font-weight: bold;
  display: inherit;
  flex-direction: column;
  align-items: center;
  width: 4em;
  gap: 6px;
  border: 0;
  padding: 6px 1em;
  border-radius: 1em;
  background: none;
  color: var(--pen-blue);
}
.gesture:hover {
  filter: saturate(3);
}
.gesture:active {
  filter: grayscale(.75);
}

.ls {
  color: var(--toxic-green);
}

.gesture-img {
  width: 4rem;
  height: 4rem;
}
/* Restart */
#restart-img {
  width: 1em;
  height: 1em;
}
/* Footer */
footer {
  font-size: 18px;
}